<h1>Employees</h1>

<table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birth Date</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.birthdate | date:'yMd' }}</td>
          <td>{{ employee.gender }}</td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary" (click)="exportFile()">Export to File</button>
  